__pycache__
db_*.json
new2000.txt
judgement_data
db_ans.json
db_ori.txt
db_ans_data/*
!db_ans_data/5d30da9fcbd1c48dc9762383.json
!db_ans_data/5d30da9fcbd1c48dc9762393.json
!db_ans_data/5d30da9fcbd1c48dc97623c7.json
!db_ans_data/5d30da9fcbd1c48dc97623d3.json
!db_ans_data/5d30da9fcbd1c48dc9762417.json
!db_ans_data/5d30da9fcbd1c48dc976244e.json
!db_ans_data/5d30da9fcbd1c48dc97624de.json
db_ori_data/*
!db_ori_data/5d30da9fcbd1c48dc9762383.txt
!db_ori_data/5d30da9fcbd1c48dc9762393.txt
!db_ori_data/5d30da9fcbd1c48dc97623c7.txt
!db_ori_data/5d30da9fcbd1c48dc97623d3.txt
!db_ori_data/5d30da9fcbd1c48dc9762417.txt
!db_ori_data/5d30da9fcbd1c48dc976244e.txt
!db_ori_data/5d30da9fcbd1c48dc97624de.txt
report.txt
predict.json
.vscode
evaluate.json
evaluate_merge.json